<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.joss"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Example" >
        <activity
            android:name="com.android.joss.DashboardFragment"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.android.joss.RegisterFragment"
            >
            
        </activity>
         <activity
            android:name="com.android.joss.Prefernce"
            >
            
        </activity>
         <activity
            android:name="com.android.joss.Snap"
            >
            
        </activity>
         <activity
            android:name="com.android.joss.CompareFragment"
            >
            
        </activity>
         <activity
            android:name="com.android.joss.MainActivityForFragments"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
    </application>

</manifest>
